.full-cast-and-crew-link {
  display: block;
  padding: 30px 0px 30px 15px;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--lt-color-gray-900);
  border-bottom: 1px solid var(--lt-color-gray-800);
}
