.searchItem {
  width: 1000px;
  display: flex;
  flex-direction: row;
  border: 1px solid;
  border-radius: 10px;
  overflow: hidden;

  cursor: pointer;
}

.searchItem-company {
  width: 1000px;
  padding: 10px 15px;
  border: 1px solid;
  border-radius: 10px;
}

.searchItem-poster {
  height: 135px;
  width: 90px;
}

.searchItem-text {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  gap: 15px;
  padding: 15px 15px;
}

.searchItem-text-collectionType {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: start;
  padding: 15px 15px;
}

.searchItem-title {
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: 17px;
  font-weight: 700;
}

.searchItem-release-date {
  color: var(--lt-color-gray-500);
}

.searchItem-null-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  min-width: 90px;
  height: 135px;
  background-color: var(--lt-color-gray-500);
  color: var(--lt-color-gray-200);
}

.searchItem-null-icon {
  transform: scale(2);
}

/* =================================================== */

.searchItem-people-item {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.searchItem-people-title {
  cursor: pointer;
}

.searchItem-people-photo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  overflow: hidden;
  color: var(--accountSilver);
  background-color: var(--darkerGrey);
  border-radius: var(--imageBorderRadius);

  cursor: pointer;
}

.searchItem-people-photo {
  height: 100px;
  width: 100px;
}

.searchItem-people-photo {
  /* display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  color: var(--accountSilver);
  background-color: var(--darkerGrey);
  border-radius: var(--imageBorderRadius); */
}

.searchItem-people-no-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  color: var(--accountSilver);
  background-color: var(--darkerGrey);
  border-radius: var(--imageBorderRadius);

  cursor: pointer;
}

.searchItem-people-icon {
  transform: scale(1.3);
}

.searchItem-people-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5px;
}

.searchItem-people-sup-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchItem-people-sub-icon {
  transform: scale(0.3);
}

.searchItem-people-role {
  display: flex;
  flex-direction: row;
}
