.searchItem {
  width: 1000px;
  display: flex;
  flex-direction: row;
  border: 1px solid;
  border-radius: 10px;
  overflow: hidden;

  cursor: pointer;
}

.searchItem-company {
  width: 1000px;
  padding: 10px 15px;
  border: 1px solid;
  border-radius: 10px;
}

.searchItem-poster {
  height: 135px;
  width: 90px;
}

.searchItem-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 15px;
}

.searchItem-text-collectionType {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: start;
  padding: 15px 15px;

}

.searchItem-title {
  font-size: 17px;
  font-weight: 700;
}

.searchItem-release-date {
  color: var(--lt-color-gray-500);
}

.searchItem-null-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  min-width: 90px;
  height: 135px;
  background-color: var(--lt-color-gray-500);
  color: var(--lt-color-gray-200);
}

.searchItem-null-icon {
  transform: scale(2);
}
