/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------------------//-------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* --lt-color-gray-200:  #f1f3f9;
--lt-color-gray-300:  #dee3ed;
--lt-color-gray-400:  #c2c9d6;
--lt-color-gray-500:  #8f96a3;
--lt-color-gray-600:  #5e636e;
--lt-color-gray-700:  #2f3237;
--lt-color-gray-800:  #1d1e20;
--lt-color-gray-900:  #111213; */

/* 
--lt-color-blue-100: #f0f4fc;
--lt-color-blue-200: #d9e2f9;
--lt-color-blue-300: #a8c2ed;
--lt-color-blue-400: #6c9ad6;
--lt-color-blue-500: #4075a3;
--lt-color-blue-600: #254c6e;
--lt-color-blue-700: #122837;
--lt-color-blue-800: #0b1a20;
--lt-color-blue-900: #060b13; */

:root {
  --lt-color-gray-200: #f1f3f9;
  --lt-color-gray-300: #dee3ed;
  --lt-color-gray-400: #c2c9d6;
  --lt-color-gray-500: #8f96a3;
  --lt-color-gray-600: #5e636e;
  --lt-color-gray-700: #2f3237;
  --lt-color-gray-800: #1d1e20;
  --lt-color-gray-900: #111213;

  --lt-color-blue-100: #f0f4fc;
  --lt-color-blue-200: #d9e2f9;
  --lt-color-blue-300: #a8c2ed;
  --lt-color-blue-400: #6c9ad6;
  --lt-color-blue-500: #4075a3;
  --lt-color-blue-600: #254c6e;
  --lt-color-blue-700: #122837;
  --lt-color-blue-800: #0b1a20;
  --lt-color-blue-900: #060b13;

  --lt-t-color-blue-100: rgba(240, 244, 252, 0.5);
  --lt-t-color-blue-200: rgba(217, 226, 249, 0.5);
  --lt-t-color-blue-300: rgba(168, 194, 237, 0.5);
  --lt-t-color-blue-400: rgba(108, 154, 214, 0.5);
  --lt-t-color-blue-500: rgba(64, 117, 163, 0.5);
  --lt-t-color-blue-600: rgba(37, 76, 110, 0.5);
  --lt-t-color-blue-700: rgba(18, 40, 55, 0.5);
  --lt-t-color-blue-800: rgba(11, 26, 32, 0.5);
  --lt-t-color-blue-900: rgba(6, 11, 19, 0.5);

  --lt-color-orange-100: #fae2cb;
  --lt-color-orange-200: #f9cc97;
  --lt-color-orange-300: #f6b066;
  --lt-color-orange-400: #f49335;
  --lt-color-orange-500: #f17d0d;
  --lt-color-orange-600: #c8620a;
  --lt-color-orange-700: #944e07;
  --lt-color-orange-800: #623804;
  --lt-color-orange-900: #3d2102;

  /* ------------------------------//------------------------------------ */

  --height: 82.7vh;

  --imageBorderRadius: 8px;
  --LightGreen: rgb(30, 213, 169);
  --scrollerGrey: rgb(219, 219, 219);
  --lightGrey: rgb(227, 227, 227);
  --darkerGrey: rgb(200, 200, 200);
  --bDarkBlue: rgb(3, 37, 65);
  --LightBlue: rgb(1, 180, 228);
  --LighterGreen: rgb(192, 254, 207);
  --LightGreen: rgb(30, 213, 169);
  --LogoGreen: rgb(144, 206, 161);
  --LogoOrange: rgb(253, 193, 112);
  --LogoRed: rgb(217, 59, 99);
  --accountSilver: rgb(149, 149, 149);
  --accountPink: rgb(234, 20, 140);
  --accountPurple: rgb(128, 91, 231);
  --accountGreen: rgb(1, 210, 119);
  --accountTeal: rgb(1, 198, 172);
  --accountLightBlue: rgb(1, 180, 228);
  --accountBlue: rgb(1, 119, 210);
  --accountOrange: rgb(210, 119, 1);
  --accountYellow: rgb(210, 144, 1);
  --accountRed: rgb(212, 2, 66);
  --imageBorderRadius: 8px;
  --maxPrimaryPageWidth: 1400px;
}

body {
  font-family: "Courier Prime", monospace;
  color: var(--lt-color-gray-900);

  background-color: white;
}

h2 {
  font-size: 19px;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  font-weight: 400;
}

h4 {
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  transition: all 0.5s ease;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 12px;
  text-transform: capitalize;
}

p {
  font-size: 14px;
  font-weight: 400;
}

a {
  font-size: 16px;
  font-weight: 600;
}

Link {
  font-size: 16px;
  font-weight: 600;
}

ul {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 20px;
}

p {
  font-size: 14px;
  color: var(--lt-color-gray-400);
}

.app {
  position: relative;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: var(--lt-color-gray-300);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--lt-color-gray-500);
  border-radius: 10px;
}

.container {
  width: 1320px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  margin: 0 auto;
}

.container-index-page {
  width: 1300px;
  margin: 0 auto;
  /* padding: 20px; */
  overflow: hidden;
}

.plank {
  height: 10px;
  border-left: 1px solid var(--lt-color-orange-500);
}

.card-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;

  color: var(--lt-t-color-blue-300);

  /* cursor: pointer; */
}

.card-icon:hover {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;

  color: var(--lt-color-blue-300);

  cursor: pointer;
}

.card-play {
  position: absolute;
  top: 40%;
  right: 50%;
  /* bottom: 50%; */
  left: 50%;

  color: var(--lt-color-gray-200);

  transform: scale(3.5);
  transition: all ease 0.5s;

  cursor: pointer;
}
