.cast-page-wrapper {
  display: flex;
  flex-direction: column;
}

.cast-up-wrapper {
  background-color: var(--lt-color-orange-300);
}

.cast-up {
  position: relative;
  display: flex;
  flex-direction: row;
}

.cast-poster {
  display: block;
  width: 60px;
  margin: 15px 0px 15px 0px;
  border-radius: 5px;
}

.cast-title-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.cast-page-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  padding-left: 15px;
  font-size: 27px;
}

.cast-title {
  font-weight: 800;
}

.cast-btn {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  border: none;
  color: var(--lt-color-gray-900);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.cast-btn-icon {
  width: 25px;
  height: 25px;
}

.cast-btn-text {
  height: 18px;
}

/* ----------------------------------------------------------------- */

.cast-down {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 290px 30px 10px;
}

.cast-peoples-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cast-peoples {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.cast-peoples-label {
  font-size: 22px;
  font-weight: 700;
}

/* --------------------------------------------------------- */

.crewMembers-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.crewMember {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
